<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
  <% if current_user  %>
    <h3> <%= current_user.user_name %> </h3> <%= button_to "Logout", session_url, method: :delete %>
  <% else %>
    <h3>Welcome, guest!</h3> <a href="<%= new_session_url %>">Log in!</a>
    or <a href="<%= new_user_url %>">Sign up</a>
  <% end %>
  </header>

<%= yield %>

</body>
</html>
